.categoryCard {
  margin: 20px;
  cursor: pointer;

  & img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  & .title {
    color: white;
  }

  & h2 {
    text-align: center;
    color: white;
    // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    //   1px 1px 0 #000;
    margin: 0;
    max-width: 350px;
  }
}
